<?xml version="1.0"?>

<launch>

  <arg name="tree_path" default="$(find reactive_task_planner_dispatcher)/tree/demo_tree_final.xml"/>

  <arg name="prefix" default="/sharework/test/stiima"/>

  <arg name="task_feedback_robot" default="$(arg prefix)/motion/feedback"/>
  <arg name="task_feedback_human" default="$(arg prefix)/human/feedback"/>

  <arg name="task_request_robot" default="$(arg prefix)/motion"/>
  <arg name="task_request_human" default="$(arg prefix)/human"/>
  <arg name="trigger_topic_name" default="/JFMX/L1/sharework/station/p0"/>
  <arg name="check_station_srv_name" default="check_new_piece"/>
  <arg name="reset_piece_srv_name" default="reset_new_piece"/>
  <arg name="check_agent_state_prefix_srv_name" default="check_agent_state"/>



  <param name="task_feedback_robot" value="$(arg task_feedback_robot)" />
  <param name="task_feedback_human" value="$(arg task_feedback_human)" />
  <param name="task_request_robot" value="$(arg task_request_robot)" />
  <param name="task_request_human" value="$(arg task_request_human)" />
  <param name="trigger_topic_name" value="$(arg trigger_topic_name)" />
  <param name="check_station_srv_name" value="$(arg check_station_srv_name)" />
  <param name="reset_piece_srv_name" value="$(arg reset_piece_srv_name)" />
  <param name="check_agent_state_prefix_srv_name" value="$(arg check_agent_state_prefix_srv_name)" />


  <node name="run_tree_node" pkg="reactive_task_planner_dispatcher" type="run_tree_node" output="screen" >
    <param name="tree_path" value="$(arg tree_path)" />
  </node>

  <node name="check_new_piece_node" pkg="sharework_demo" type="check_new_piece_srv.py" output="screen" />
  <node name="check_agent_state_node" pkg="sharework_demo" type="check_agent_state_srv.py" output="screen">
    <rosparam command="load" file="$(find sharework_task_planning)/config/multiple_agents.yaml" />
  </node>

</launch>
